// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap'; 

// Global 
.container {
    max-width: 1150px !important;
}

.bg-secondary {
    background-color: #fff !important;
    color: #212529 !important;
}

.bg-primary * {
    color: #ffffff !important;
}

// ─── Landing Page ───────────────────────────────────────────

// Curriculum MAP & Syllabus Generator section
.landing-page .bg-primary h1 {
    font-size: 52px !important;
    font-weight: 500 !important;
    margin-bottom: 16px !important;
}

// .landing-page .bg-primary * {
//     color: #ffffff !important;
// }

.landing-page .bg-primary .img {
    margin-bottom: 16px;
}


.landing-page .bg-secondary a {
    color: #002145;
    text-decoration: none;
    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}

// Benefits section
.landing-page .bg-secondary h1 {
    font-size: 52px !important;
    margin-bottom: 10px;
}

.landing-page .bg-secondary h2 {
    font-size: 28.8px !important;
}

.landing-page .bg-secondary p {
    color: #212529 !important;
}

.landing-page .box-img img {
    width: 140px !important;
    height: 140px !important;
    border: 8px solid #002145 !important;
}

// How to Use section
.landing-page .bg-primary .col-md a {
    color: #0055B7 !important;
    text-decoration: none;
    &:hover {
        color: rgb(47, 93, 124) !important;
        text-decoration: underline;
    }
}

// Questions section
.landing-page .bg-secondary .col-md a {
    color: #0055B7 !important;
    text-decoration: none;
    &:hover {
        color: rgb(47, 93, 124) !important;
        text-decoration: underline;
    }
}



// ─── About Page ───────────────────────────────────────────
.about-page .bg-primary h1 {
    font-size: 52px !important; 
    margin-bottom: 16px !important;
}

.about-page .bg-secondary h1 {
    font-size: 52px !important; 
    margin-bottom: 10px;  
}

.about-page .team-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-page figcaption {
    text-align: center !important;
}

.about-page figcaption p {
    text-align: center !important;
}

.about-page .bg-primary a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.about-page .bg-secondary a {
    color: #0055B7 !important;
    text-decoration: none;
    &:hover {
        color: rgb(47, 93, 124) !important;
        text-decoration: underline;
    }
}